@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script src="~/Views/Home/Time.js"></script>
}


<div class="jumbotron">
    <h1>Proiect TI</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Bine ati venit</h2>
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>
    <p class="time">@DateTime.Now</p>


</div>
